@import "tailwindcss";

:root {
  --background: #dddddd;
  --foreground: #171717;

  --text: #0b0c0c;
  --link-shadow: 0 -2px var(--color-yellow-300), 0 4px var(--text);
}

@theme inline {
  --link-shadow: 0 -2px var(--color-yellow-300), 0 4px var(--text);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--background);
}
